.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms ease;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app-header h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}
